@import "variables";
@import "typography";
@import "tweets";

* {
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
  background-color: $light-grey;
  height: 100vh;
  padding: $section-padding;
}

nav {
  background-color: pink;
  //   justify-self: flex-end;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 20%;
  padding: $section-padding;

  a {
    @extend %btn-shared;
    line-height: 2;
  }
}

.feed {
  width: 80%;
  padding: $section-padding;
  line-height: 1.6;
}

.side-bar {
  padding: $section-padding;
}

%btn-shared {
  cursor: pointer;
  padding: 0.7rem 2rem;
  border: none;
  text-decoration: none;
  margin-top: 1rem;
}

li {
  list-style-type: none;
}
